.GenreToggle {
  min-width: 100%;
  overflow-x: auto;
}

.GenreToggle > div {
  display: flex;
  min-width: fit-content;
  border-bottom: 0.3rem solid #424242;
}

.GenreToggle > div > button:first-child {
  margin-left: auto;
}

.GenreToggle > div > button:last-child {
  margin-right: auto;
}

.GenreToggleButton {
  width: auto;
  background: none;
  border-radius: 0;
  border-bottom: 0.3rem solid transparent;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;

  margin-bottom: -0.3rem;
  transition: border-color 0.2s ease-out;
}

.GenreToggleButton:hover {
  border-color: #f6526085;
}

.GenreToggleButton + .GenreToggleButton {
  margin-left: 3rem;
}

.GenreToggleButton.active,
.GenreToggleButton.active:hover {
  border-bottom: 0.3rem solid #f65261;
}
