.SearchBar {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.SearchBar > * + * {
  margin-left: 1.4rem;
}

.SearchBar > input[type='search'] {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  border: none;
  border-radius: 4px;
  mix-blend-mode: normal;
  width: 100%;
  max-width: 71.3rem;
  height: 5.7rem;
  padding: 1.6rem 1.9rem;

  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

@media (max-width: 720px) {
  .SearchBar {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar > * + * {
    margin-left: 0;
    margin-top: 1.4rem;
  }
}
