* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: black;
  color: white;
}

button {
  cursor: pointer;
  background-color: #f65261;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 23.3rem;
  height: 5.7rem;

  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}
